* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Gentium Book Basic", serif;
  font-weight: 700;
}

svg {
  width: 242px;
  margin: auto;
}

li {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

h1 {
  font-size: 90px;
  color: white;
  text-align: center;
  font-family: "Yeseva One", cursive;
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 36px;
  font-family: "Yeseva One", cursive;
}

header {
  background-image: url(images/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

header nav {
  padding: 15px 0;
  position: fixed;
  z-index: 5;
  background-image: url(images/back_nav.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

header nav .icon-navbar {
  color: white;
}

header nav .nav-link {
  color: white !important;
}

header nav ul {
  font-size: 21px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav ul a:hover {
  border-top: 2px #dab33e solid;
}

header nav ul i {
  font-size: 18px;
  color: #d2a818;
}

header #txtHeader {
  padding: 200px 20% 140px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #txtHeader img {
  margin: 30px 0;
}

header #txtHeader #button_header .button {
  width: 228px;
  height: 58px;
  border: 1px black solid;
  font-size: 18px;
  color: white;
  font-family: "Lato", sans-serif;
}

header #txtHeader #button_header .white {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 15px;
}

header #txtHeader #button_header .black {
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 15px;
}

.about {
  background-image: url(images/Background_blanc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.about .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .about .container {
    background-image: url(images/assiette.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about .container .cuisinier {
  text-align: center;
  margin: auto 0;
}

@media only screen and (max-width: 991px) {
  .about .container .cuisinier {
    background-color: rgba(218, 179, 62, 0.8);
    padding: 50px 0;
  }
}

.about .container .cuisinier .divider_991 {
  margin: 30px;
}

.about .container .cuisinier h2 {
  color: #d2a818;
}

@media only screen and (max-width: 991px) {
  .about .container .cuisinier h2 {
    color: white;
  }
}

@media only screen and (max-width: 991px) {
  .about .container .cuisinier svg {
    display: none;
  }
}

.about .container .cuisinier p {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: "lato", "sans-serif";
}

@media only screen and (max-width: 991px) {
  .about .container .cuisinier p {
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .about .container .cuisinier .signature {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .about .container .assiette {
    display: none;
  }
}

.ingredient {
  background-image: url(images/background_ingredient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.ingredient .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingredient .container .cadre_ingredient {
  padding: 80px 0;
  text-align: center;
  color: white;
  background-color: rgba(50, 50, 50, 0.6);
}

.ingredient .container .cadre_ingredient .txt_ingredient p {
  font-size: 16px;
  font-family: "lato", "sans-serif";
  margin-bottom: 80px;
}

.ingredient .container .cadre_ingredient .txt_ingredient img {
  margin: 30px 0;
}

.ingredient .container .cadre_ingredient .col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  background-image: url(images/background_menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.reviews {
  background-image: url(images/background_plat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.reviews .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .container .cadre_reviews {
  background-color: rgba(50, 50, 50, 0.6);
  padding: 80px 0 100px 0;
  text-align: center;
  color: white;
}

.reviews .container .cadre_reviews img {
  margin: 30px 0;
}

.reviews .container .cadre_reviews p {
  font-size: 25px;
  font-family: "Gentium Book Basic", serif;
}

.reviews .container .cadre_reviews span {
  font-size: 18px;
  font-family: "lato", "sans-serif";
}

.reservation {
  background-image: url(images/Background_blanc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.reservation .container {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .reservation .container {
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .reservation .container .image_reservation {
    display: none;
  }
}

.reservation .container .cadre_reservation .txt_reservation {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .reservation .container .cadre_reservation .txt_reservation {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .reservation .container .cadre_reservation .txt_reservation {
    margin-top: 0px;
  }
}

.reservation .container .cadre_reservation .txt_reservation h2 {
  color: #d2a818;
}

.reservation .container .cadre_reservation .form_reservation .input-group {
  display: block;
}

.reservation .container .cadre_reservation .form_reservation .form-control {
  width: 100%;
  position: relative;
}

.reservation .container .cadre_reservation .form_reservation .input-group-text {
  position: absolute;
  right: 10px;
  padding: 0;
  border: none;
  top: 35px;
}

.reservation .container .cadre_reservation .form_reservation label {
  margin: inherit;
  font-size: 14px;
  font-style: italic;
  color: #d2a818;
  font-weight: bold;
  text-align: left;
}

.reservation .container .cadre_reservation .form_reservation select {
  width: 100%;
  height: 38px;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 6px 10px;
}

.reservation .container .cadre_reservation .form_reservation input:focus {
  border-color: #d2a818;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reservation .container .cadre_reservation button {
  width: 100%;
  background-color: #d2a818;
  border: none;
  color: white;
  padding: 6px 12px;
}

footer {
  background-color: #191919;
  padding: 100px 0;
  text-align: center;
  color: white;
}

footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */