// Regles général
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Gentium Book Basic", serif;
  font-weight: 700;
}

svg {
  width: 242px;
  margin: auto;
}

$gold: rgb(210, 168, 24);

li {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

h1 {
  font-size: 90px;
  color: white;
  text-align: center;
  font-family: "Yeseva One", cursive;
  @media only screen and (max-width: 991px) {
    font-size: 60px;
  }
}

h2 {
  font-size: 36px;
  font-family: "Yeseva One", cursive;
}

// header
header {
  background-image: url(images/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;

  nav {
    padding: 15px 0;
    position: fixed;
    z-index: 5;
    background-image: url(images/back_nav.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around !important;

    .icon-navbar {
      color: white;
    }

    .nav-link {
      color: white !important;
    }

    ul {
      font-size: 21px;
      align-items: flex-end;

      a:hover {
        border-top: 2px rgb(218, 179, 62) solid;
      }

      i {
        font-size: 18px;
        color: $gold;
      }
    }
  }

  #txtHeader {
    padding: 200px 20% 140px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 30px 0;
    }

    #button_header {
      .button {
        width: 228px;
        height: 58px;
        border: 1px black solid;
        font-size: 18px;
        color: white;
        font-family: "Lato", sans-serif;
      }

      .white {
        border-color: white;
        background-color: rgba(255, 255, 255, 0.4);
        margin-left: 15px;
      }
      .black {
        background-color: rgba(0, 0, 0, 0.4);
        margin-right: 15px;
      }
    }
  }
}

.about {
  background-image: url(images/Background_blanc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 991px) {
      background-image: url(images/assiette.jpg);
      background-position: center;
      background-repeat: no-repeat;
    }

    .cuisinier {
      text-align: center;
      margin: auto 0;
      @media only screen and (max-width: 991px) {
        background-color: rgba(218, 179, 62, 0.8);
        padding: 50px 0;
      }

      .divider_991 {
        margin: 30px;
      }

      h2 {
        color: $gold;

        @media only screen and (max-width: 991px) {
          color: white;
        }
      }

      @media only screen and (max-width: 991px) {
        svg {
          display: none;
        }
      }

      p {
        margin-bottom: 40px;
        font-size: 16px;
        font-family: "lato", "sans-serif";

        @media only screen and (max-width: 991px) {
          color: white;
        }
      }

      .signature {
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
    }

    .assiette {
      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
  }
}

.ingredient {
  background-image: url(images/background_ingredient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    .cadre_ingredient {
      padding: 80px 0;
      text-align: center;
      color: white;
      background-color: rgba(50, 50, 50, 0.6);

      .txt_ingredient {
        p {
          font-size: 16px;
          font-family: "lato", "sans-serif";
          margin-bottom: 80px;
        }

        img {
          margin: 30px 0;
        }
      }

      .col-lg-10 {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.menu {
  background-image: url(images/background_menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}
.reviews {
  background-image: url(images/background_plat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    .cadre_reviews {
      background-color: rgba(50, 50, 50, 0.6);
      padding: 80px 0 100px 0;
      text-align: center;
      color: white;

      img {
        margin: 30px 0;
      }

      p {
        font-size: 25px;
        font-family: "Gentium Book Basic", serif;
      }
      span {
        font-size: 18px;
        font-family: "lato", "sans-serif";
      }
    }
  }
}
.reservation {
  background-image: url(images/Background_blanc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;

  .container {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
      margin: 50px auto;
    }

    @media screen and (max-width: 768px) {
      .image_reservation {
        display: none;
      }
    }

    .cadre_reservation {
  

      .txt_reservation {

        text-align: center;
        @media only screen and (max-width: 991px) {
          margin-top: 80px;
        }

        @media only screen and (max-width: 768px) {
          margin-top: 0px;
        }
        h2 {
          color: $gold;
        }
      }

      .form_reservation {


.input-group {
  display: block;
}

.form-control{
  width: 100%;
  position: relative;
}

.input-group-text{
  position: absolute;
  right: 10px;
  padding: 0;
  border: none;
  top: 35px;
}

        label {
          margin: inherit;
          font-size: 14px;
          font-style: italic;
          color: $gold;
          font-weight: bold;
          text-align: left;
        }

        select{
          width: 100%;
          height: 38px;
          border: 1px solid #ced4da;
          color: #495057;
          padding: 6px 10px;
        }

        input:focus{
          border-color: $gold;
          box-shadow: none;
        }
      }
button{
  width: 100%;
  background-color: $gold;
  border: none;
  color: white;
  padding: 6px 12px;
}

    }
  }
}

footer {
  background-color: rgb(25, 25, 25);
  padding: 100px 0;
  text-align: center;
  color: white;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
