// Regles général
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 90px;
    color: white;
    text-align: center;
}

// header
header {
    background-image: url(images/background_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;

    nav {
        width: 80%;
        margin: 0 10%;
        position: fixed;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 30%;
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            width: 70%;

            a:hover{
                border-top: 2px rgb(218, 179, 62) solid;

            }
        }
      
    }

    #txtHeader {
        padding: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

section {
    background-image: url(images/Background_blanc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 710px;
}